@keyframes sectionAppear {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    60% {
      transform: scale(1.005); 
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}

@keyframes menuAppear {
    0% {
      transform: scale3d(0,0,0);
    }
    60% { 
      transform: scale3d(1.02,1.02,1.12);
    }
    100% {
      transform: scale3d(1,1,1);
    }
}
  
@keyframes load {
    0% {
        opacity: 1;
        z-index: 2;
    }
    88% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: 2;
    }
}
  
@keyframes spin-1 {
  0% {
    transform: scale(0);
    border-radius: 0%;
  }
  25% {
    transform: scale(2.5) rotate(0);
    border-radius: 0%;
  }
  85% {
    transform: scale(2.1) rotate(90deg);
    border-radius: 90%;
  }
}
  
@keyframes spin-2 {
  0% {
    transform: scale(0);
    border-radius: 0%;
  }
  27% {
    transform: scale(2) rotate(0);
    border-radius: 0%;  
  }
  85% {
    transform: scale(1.6) rotate(90deg);
    border-radius: 70% 40% 70% 40%;
  }
}
  
@keyframes spin-3 {
  0% {
    transform: scale(0);
    border-radius: 0%;
  }
  29% {
    transform: scale(1.5) rotate(0);
    border-radius: 0%;
  }
  85% {
    transform: scale(1.1) rotate(90deg);
    border-radius: 30% 70% 30% 70%;
  }
}

@keyframes spin-txt {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.8);
}
  78% {
    transform: scale(0.6);
    }
  100% {
    transform: scale(0); 
  }
}

@keyframes like {
    0% {
      transform: scale(1);
    }
  
    30% {
      transform: scale(1.2);
    }
  
    70% {
      transform: scale(0.9);
    }
  
    100% {
      transform: scale(1);
    }
}

/*** Media Queries ***/

@media (min-width: 1024px) {
  @keyframes load {
    0% {
        opacity: 1;
        z-index: 2;
    }
    88% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: 2;
    }
}
  
@keyframes spin-1 {
  0% {
    transform: scale(0);
    border-radius: 0%;
  }
  25% {
    transform: scale(4.5) rotate(0);
    border-radius: 0%;
  }
  85% {
    transform: scale(4.2) rotate(90deg);
    border-radius: 90%;
  }
}
  
@keyframes spin-2 {
  0% {
    transform: scale(0);
    border-radius: 0%;
  }
  27% {
    transform: scale(3.5) rotate(0);
    border-radius: 0%;  
  }
  85% {
    transform: scale(3.2) rotate(90deg);
    border-radius: 70% 40% 70% 40%;
  }
}
  
@keyframes spin-3 {
  0% {
    transform: scale(0);
    border-radius: 0%;
  }
  29% {
    transform: scale(2.5) rotate(0);
    border-radius: 0%;
  }
  85% {
    transform: scale(2.2) rotate(90deg);
    border-radius: 30% 70% 30% 70%;
  }
}

@keyframes spin-txt {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.1);
}
  78% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0); 
  }
}

}