/** General **/

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
  
body {
    box-sizing: border-box;
}
  
body a {
    color: black;
    text-decoration: none;
}
  
h1 {
    font-size: 30px;
    font-weight: 400;
    font-family: "Shrikhand", Arial, sans-serif;
}

h2 {
  font-size: 24px;
}
  
h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1.75rem;
}
  
h4 {
    font-size: 18px;
}
  
h5 {
    font-size: 16px;
    text-transform: uppercase;
}
  
p {
    font-size: 17px;
    font-weight: 300;
}
  
li {
    list-style: none;
}
  
span {
    margin-left: 15px;
}

.header,.info__content,.fonction__content,.restaurant__index, .restaurant__cards, .food__desc, .restaurantContent,.menu {
    @include flexColumn;
}
  
.loader, .header__menu, .location, .info, .content__btn {
    @include flexCenter;
}

@media (min-width:1024px) {
  h1 {
    font-size: 32px;
  }
}

/* Button */

.btn {
    border-radius: 35px;
    border-style: none;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 16px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    padding: 15px 50px;
    background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
    transition: all 400ms;
    cursor: pointer;
    &:hover {
      background: linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
      transform: scale(1.03);
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
    }
    &__explorer {
      margin-top: 20px;
      padding: 20px;
    }
  }
  
  /* Like */
  
  .favorite {
    position: relative;
    width: 35px;
    height: 35px;
    &__toggle {
      position: absolute;
      display: block;
      z-index: 1;
      bottom: 0;
      right: 0;
      appearance: none;
      height: 35px;
      width: 35px;
      opacity: 0;
      cursor: pointer;
    }
    &__icon {
      position: absolute;
      bottom: 5px;
      right: 5px;
      font-size: 25px;
      cursor: pointer;
    }
  
  }
  
  .favorite__toggle + .favorite__icon .far {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 1;
    transition: opacity 0.001s ease;
  }
    
  .favorite__toggle + .favorite__icon .fas {
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(0deg, $primary-color 0%, $secondary-color 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: bottom;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.001s ease-out;
  }
    
  .favorite__toggle:checked + .favorite__icon .fas {
    transform: scale(1);
    animation: like 0.3s;
    opacity: 1;
  }
    
  .favorite__toggle:not(:checked) + .favorite__icon .far {
    opacity: 1;
    animation: like 0.3s;
  }
    
  .favorite__toggle:checked + .favorite__icon .far {
    opacity: 0;
  }
  
