@keyframes sectionAppear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.005);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes menuAppear {
  0% {
    transform: scale3d(0, 0, 0);
  }
  60% {
    transform: scale3d(1.02, 1.02, 1.12);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes load {
  0% {
    opacity: 1;
    z-index: 2;
  }
  88% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 2;
  }
}
@keyframes spin-1 {
  0% {
    transform: scale(0);
    border-radius: 0%;
  }
  25% {
    transform: scale(2.5) rotate(0);
    border-radius: 0%;
  }
  85% {
    transform: scale(2.1) rotate(90deg);
    border-radius: 90%;
  }
}
@keyframes spin-2 {
  0% {
    transform: scale(0);
    border-radius: 0%;
  }
  27% {
    transform: scale(2) rotate(0);
    border-radius: 0%;
  }
  85% {
    transform: scale(1.6) rotate(90deg);
    border-radius: 70% 40% 70% 40%;
  }
}
@keyframes spin-3 {
  0% {
    transform: scale(0);
    border-radius: 0%;
  }
  29% {
    transform: scale(1.5) rotate(0);
    border-radius: 0%;
  }
  85% {
    transform: scale(1.1) rotate(90deg);
    border-radius: 30% 70% 30% 70%;
  }
}
@keyframes spin-txt {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.8);
  }
  78% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes like {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
/*** Media Queries ***/
@media (min-width: 1024px) {
  @keyframes load {
    0% {
      opacity: 1;
      z-index: 2;
    }
    88% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: 2;
    }
  }
  @keyframes spin-1 {
    0% {
      transform: scale(0);
      border-radius: 0%;
    }
    25% {
      transform: scale(4.5) rotate(0);
      border-radius: 0%;
    }
    85% {
      transform: scale(4.2) rotate(90deg);
      border-radius: 90%;
    }
  }
  @keyframes spin-2 {
    0% {
      transform: scale(0);
      border-radius: 0%;
    }
    27% {
      transform: scale(3.5) rotate(0);
      border-radius: 0%;
    }
    85% {
      transform: scale(3.2) rotate(90deg);
      border-radius: 70% 40% 70% 40%;
    }
  }
  @keyframes spin-3 {
    0% {
      transform: scale(0);
      border-radius: 0%;
    }
    29% {
      transform: scale(2.5) rotate(0);
      border-radius: 0%;
    }
    85% {
      transform: scale(2.2) rotate(90deg);
      border-radius: 30% 70% 30% 70%;
    }
  }
  @keyframes spin-txt {
    0% {
      transform: scale(0);
    }
    25% {
      transform: scale(1.1);
    }
    78% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(0);
    }
  }
}
/** General **/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
}

body a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  font-family: "Shrikhand", Arial, sans-serif;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1.75rem;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
  text-transform: uppercase;
}

p {
  font-size: 17px;
  font-weight: 300;
}

li {
  list-style: none;
}

span {
  margin-left: 15px;
}

.header, .info__content, .fonction__content, .restaurant__index, .restaurant__cards, .food__desc, .restaurantContent, .menu {
  display: flex;
  flex-direction: column;
}

.loader, .header__menu, .location, .info, .content__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button */
.btn {
  border-radius: 35px;
  border-style: none;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 16px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  padding: 15px 50px;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  transition: all 400ms;
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  transform: scale(1.03);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
}
.btn__explorer {
  margin-top: 20px;
  padding: 20px;
}

/* Like */
.favorite {
  position: relative;
  width: 35px;
  height: 35px;
}
.favorite__toggle {
  position: absolute;
  display: block;
  z-index: 1;
  bottom: 0;
  right: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 35px;
  width: 35px;
  opacity: 0;
  cursor: pointer;
}
.favorite__icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 25px;
  cursor: pointer;
}

.favorite__toggle + .favorite__icon .far {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 1;
  transition: opacity 0.001s ease;
}

.favorite__toggle + .favorite__icon .fas {
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform-origin: bottom;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.001s ease-out;
}

.favorite__toggle:checked + .favorite__icon .fas {
  transform: scale(1);
  animation: like 0.3s;
  opacity: 1;
}

.favorite__toggle:not(:checked) + .favorite__icon .far {
  opacity: 1;
  animation: like 0.3s;
}

.favorite__toggle:checked + .favorite__icon .far {
  opacity: 0;
}

/****************************** Loader ********************************/
.loader {
  background-color: transparent;
  -webkit-backdrop-filter: blur(150px);
          backdrop-filter: blur(150px);
  animation: load 2.75s ease-in-out backwards;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -2;
}
.loader__anim {
  width: 70px;
  height: 70px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 1;
}
.loader__anim--1 {
  border: 1px solid #9356DC;
  transform: scale(0);
  animation: spin-1 2.5s ease-out both 0.02ms;
}
.loader__anim--2 {
  border: 1px solid #FF79DA;
  transform: scale(0);
  animation: spin-2 2.5s ease-out both 0.04ms;
}
.loader__anim--3 {
  border: 1px solid #99E2D0;
  transform: scale(0);
  animation: spin-3 2.5s ease-out both 0.06ms;
}
.loader__txt p {
  font-family: "Shrikhand", Arial, sans-serif;
  font-size: 30px;
  transform: scale(0);
  animation: spin-txt 2.5s ease-in-out both 0.1s;
}

/****************************** Header ********************************/
.header__shadow {
  position: relative;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
}
.header a {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

::-webkit-search-cancel-button {
  display: none;
}

/****************************** Main ********************************/
/* Location */
.location {
  padding: 15px 0px;
  background-color: #eaeaea;
}

#site-search {
  border: none;
  background-color: #eaeaea;
  color: #353535;
  font-size: 16px;
  font-weight: 500;
  margin-left: 15px;
  width: -moz-fit-content;
  width: fit-content;
}

::-webkit-search-cancel-button {
  display: none;
}

/** Info **/
.info {
  padding: 50px;
  background-color: #f6f6f6;
  text-align: center;
}
.info__content {
  display: flex;
  align-items: center;
}
.info h2, .info p {
  padding: 5px 0;
}

/** Fonction **/
.fonction {
  padding: 50px 20px;
}
.fonction__step {
  margin-left: 14px;
}

.step {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 25px;
  padding: 30px 25px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.step:hover > .fas {
  color: #9356DC;
}
.step .fas {
  margin: 0 0.5rem;
  color: #7e7e7e;
}
.step__number {
  position: absolute;
  left: -28px;
  top: 32%;
  background-color: #9356DC;
  border-radius: 45px;
  color: white;
  padding: 5px 9px;
  font-size: 14px;
}

/** Restaurant **/
.restaurant {
  background-color: #f6f6f6;
  padding: 50px 20px;
}
.restaurant__cards {
  width: 100%;
  max-width: 1440px;
}

.favoriteHeart {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.restaurantCard {
  position: relative;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
}
.restaurantCard img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.restaurantCard__new {
  color: #008766;
  position: absolute;
  padding: 0.5rem 1rem;
  border-radius: 0.1rem;
  background: #99E2D0;
  top: 1rem;
  right: 1rem;
}
.restaurantCard__content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}
.restaurantCard__info h4 {
  margin-bottom: 0.3em;
}

/****************************** Footer ********************************/
.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 22px 25px;
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
  margin-bottom: 16px;
  margin-left: 0;
}

.footerAbout li {
  margin-bottom: 10px;
}
.footerAbout a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.footerAbout span {
  margin-left: 0;
}
.footerAbout__you .far {
  color: white;
  width: 15px;
}
.footerAbout__you .footer__span {
  margin-left: 10px;
}
.footerAbout__us {
  font-weight: 300;
}

/****************************** Media Queries ********************************/
@media (min-width: 1024px) {
  /** Info **/
  .info__content h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .btn__explorer {
    margin-top: 30px;
    padding: 17px 24px;
  }
  /** Fonction **/
  .fonction {
    align-items: center;
  }
  .fonction__content {
    display: flex;
    max-width: 1440px;
    margin: auto;
  }
  .fonction__content h3 {
    margin-bottom: 50px;
  }
  .fonction__step {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  .step {
    width: 30%;
    margin-left: 15px;
    margin-right: 25px;
  }
  /** Restaurant **/
  .restaurant__index {
    display: flex;
    max-width: 1440px;
    margin: auto;
  }
  .restaurant__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurantCard {
    margin-bottom: 3.125em;
    width: 45%;
  }
  /** Footer **/
  .footer {
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    padding: 50px;
  }
  .footer__logo {
    order: 2;
    margin: 0;
    padding-left: 80px;
  }
  .footer ul {
    display: flex;
  }
  .footer li {
    margin-bottom: 0;
    margin-left: 10px;
  }
  .footerAbout_us {
    margin-left: 15px;
  }
}
/****************************** Menu ********************************/
/** Header **/
.headerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}
.headerMenu i {
  position: absolute;
  left: 0;
  bottom: 35%;
  padding: 0 30px;
}

/****************************** Main ********************************/
/** Illustration **/
.restaurantPage__img img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.restaurantContent {
  align-items: center;
}
.restaurantContent__container {
  margin-top: -4rem;
  background: white;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  background: #f6f6f6;
  width: 100%;
}
.restaurantContent__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.restaurantContent__title .favorite {
  right: 20px;
}
.restaurantContent__menu {
  padding: 40px 20px;
}

/** Menus **/
.menu__content {
  margin-bottom: 2.5rem;
  transform-origin: top;
  animation: menuAppear 1s both ease;
}
.menu hr {
  margin-bottom: 0.75rem;
  height: 3px;
  background-color: #99E2D0;
  width: 40px;
  border: none;
}
.menu__title {
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.menuSection {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-top: 12px;
  transform: scale(0);
  opacity: 1;
  animation: sectionAppear 1s forwards ease;
}
.menuSection:hover {
  cursor: pointer;
}
.menuSection__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 0 20px 20px 0;
}
.menuSection__food {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  padding: 15px;
  transition: all 400ms ease-out;
}
.menuSection__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  overflow: hidden;
}
.menuSection__desc p, .menuSection__desc h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.menuSection__price {
  display: flex;
  align-items: end;
  font-weight: 700;
  margin-left: 0.5rem;
}
.menuSection__price p {
  font-weight: 700;
}
.menuSection__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99e2d0;
  position: absolute;
  width: 3.5rem;
  height: 100%;
  right: -6rem;
  transition: all 400ms ease-out;
}
.menuSection__btn--transform {
  border-radius: 40px;
  padding: 2px 4px;
  background: white;
}

.fa-check {
  color: #99E2D0;
  font-weight: 900;
}

.menuSection:hover .menuSection__food {
  margin-right: 3.5rem;
}

.menuSection:hover .menuSection__btn {
  cursor: pointer;
  right: 0;
}

.menuAnim-1 {
  animation-delay: 0ms;
}

.menuAnim-2 {
  animation-delay: 250ms;
}

.menuAnim-3 {
  animation-delay: 325ms;
}

.anim-1 {
  animation-delay: 0ms;
}

.anim-2 {
  animation-delay: 50ms;
}

.anim-3 {
  animation-delay: 100ms;
}

.anim-4 {
  animation-delay: 150ms;
}

.anim-5 {
  animation-delay: 200ms;
}

.anim-6 {
  animation-delay: 250ms;
}

.anim-7 {
  animation-delay: 300ms;
}

.anim-8 {
  animation-delay: 400ms;
}

.anim-9 {
  animation-delay: 450ms;
}

.anim-10 {
  animation-delay: 500ms;
}

.menu__command {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
  margin-top: -2.5rem;
}

/****************************** Media Queries ********************************/
@media (min-width: 1024px) {
  .headerMenu__logo {
    font-size: 32px;
  }
  .restaurantPage__img img {
    height: 500px;
  }
  .restaurantContent__container {
    max-width: 1440px;
    width: 100%;
  }
  .restaurantContent__title {
    justify-content: center;
  }
  .restaurantContent__title h1 {
    margin-right: 2.5rem;
  }
  .restaurantContent__menu {
    max-width: 1024px;
    width: 100%;
    margin: auto;
  }
  .menuSection__content {
    display: flex;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */